.tableContainer {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-color: #e4e7ec transparent;
  scrollbar-width: thin;
  border: 1px solid #e4e7ec;
  border-radius: 8px;
}

.tableContainer::-webkit-scrollbar {
  width: 13px;
}

.tableContainer::-webkit-scrollbar-thumb {
  width: 5px;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 16px;
  text-align: left;
  border-radius: 8px;
}

.arrowIcon {
  height: 12px;
  width: 10x;
  margin-left: 7px;
  transition: transform 0.3s ease;
  position: relative;
  top: 2px;
}

.rotated {
  transform: rotate(180deg);
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.table tr {
  border-bottom: 1px solid #e4e7ec;
}

.table th,
.table td {
  padding: 12px 12px;
  font-size: 12px;
  line-height: 18px;
  height: 70px;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.table th:first-child,
.table td:first-child {
  padding-right: 0;
  border-left: 1px solid #e4e7ec;
  width: 20px;
}

.table th {
  background-color: #ffffff;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 44px;
  border-top: 0;
  line-height: 0;
}

.table tr:nth-child(even) {
  background-color: #e4e7ec;
}

.noResults {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #888;
}

.name {
  width: 45%;
}

.sort {
  width: fit-content;
  cursor: pointer;
}

.status {
  width: 132px;
}

.createdAt {
  width: 150px;
}
