.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeader {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #181d27;
  margin-bottom: 12px;
  margin-top: 24px;
}

.subheader {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #535862;
  margin-bottom: 24px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border: solid 1px #e9eaeb;
  border-radius: 12px;
  background-color: #fafafa;
}

.icon {
  width: 33px;
  height: 31px;
}

.signup {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #535862;
  margin-top: 32px;
}

.link {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #3882ff;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255); /* Opaque background */
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #535862;
  padding: 12px 24px;
}
