.tableContainer {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-color: #e4e7ec transparent;
  scrollbar-width: thin;
}

.tableContainer::-webkit-scrollbar {
  width: 13px;
}

.tableContainer::-webkit-scrollbar-thumb {
  width: 5px;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  font-size: 16px;
  text-align: left;
}

.arrowIcon {
  height: 12px;
  margin-left: 7px;
}

.table th,
.table td {
  padding: 12px 12px;
  border: 1px solid #e4e7ec;
  font-size: 12px;
  line-height: 18px;
  height: 72px;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
}

.table th:first-child,
.table td:first-child {
  padding-right: 0;
  border-left: 1px solid #e4e7ec;
}

.table th:last-child,
.table td:last-child {
  border-right: 1px solid #e4e7ec;
}

.table th {
  background-color: #ffffff;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 44px;
}

.table tr:nth-child(even) {
  background-color: #e4e7ec;
}

.table input[type="checkbox"] {
  margin: 0;
  width: 20px;
  height: 20px;
}

.noResults {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #888;
}
