.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255); /* Opaque background */
  z-index: 1;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #181d27;
  padding: 12px 24px;
}

.logo {
  width: 131px;
}
