.loginCard {
  width: 462px;
  height: 475px;
  border: solid 1px #e4e7ec;
  border-radius: 12px;
  padding: 32px 40px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px -2px #0a0d120f, 0px 4px 6px -1px #0a0d121a;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 24px;
}

.label {
  display: inline-block;
  height: 20px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #414651;
}

.input {
  width: 100%;
  height: 42px;
  padding: 10px 14px;
  border: 1px solid #d5d7da;
  border-radius: 8px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #717680;
}

.buttonPrimary {
  padding: 10px 16px;
  background-color: #3882ff;
  color: #ffffff;
  border: solid 2px transparent;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  background-clip: padding-box;
  border-image: linear-gradient(90deg, #ffffff 12%, #ffffff 0%) 1;
  margin-bottom: 24px;
}

.buttonPrimary:hover {
  background-color: #0056b3;
}

.buttonSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #ffffff;
  color: #414651;
  border: solid 1px #d5d7da;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 16px;
  box-shadow: 0px 1px 2px 0px #1018280d, 0px -2px 0px 0px #0a0d120d;
}

.buttonSecondary:hover {
  background-color: #d5d7da;
}

.orContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #d3d3d3;
  width: 168px;
}

.orText {
  margin: 0 9px;
  font-weight: 600;
  font-size: 17.5px;
  line-height: 27px;
  color: #b9b9b9;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
